extends layout
block content
	.row.banner
		.col-12
			h1 NA2 BOOK HOUSE
				small &nbsp;
	.row
		.col-12.col-md-8
			.card
				.card-block
					h4
						a(href="/location") Lord of the rings part 1
						small &nbsp;
							i.fas.fa-star
							i.fas.fa-star
							i.fas.fa-star
							i.far.fa-star
							i.far.fa-star
					//	span.badge.badge-pill.badge-default.float-right 
					//p.address 125 High Street, Reading, RG6 1PS
				//	p.facilities
				//		span.badge.badge-warning Hot drinks
				//		span.badge.badge-warning Food
			.card
				.card-block
					h4
						a(href="/location1") Lord of the rings part 2
						small &nbsp;
							i.fas.fa-star
							i.fas.fa-star
							i.fas.fa-star
							i.fas.fa-star
							i.far.fa-star
						//span.badge.badge-pill.badge-default.float-right 150m
					//p.address 201 Downing Street, Reading, RG7 1PS
					//p.facilities
					//	span.badge.badge-warning Food
					//	span.badge.badge-warning Premium wifi
			.card
				.card-block
					h4
						a(href="/location2") Birds of Indian sub continent 
						small &nbsp;
							i.fas.fa-star
							i.fas.fa-star
							i.fas.fa-star
							i.far.fa-star
							i.far.fa-star
					//	span.badge.badge-pill.badge-default.float-right 100m
				//	p.address 125 High Street, Reading, RG6 1PS
				//	p.facilities
				//		span.badge.badge-warning Hot drinks
				//		span.badge.badge-warning Premium wifi
		.col-12.col-md-4
			p.lead 