extends layout
block content
	.row.banner
		.col-12
			h1 Birds of indian subcontinent
	.row
		.col-12.col-lg-9
			.row
				.col-12.col-md-6
					p.rating
						i.fas.fa-star
						i.fas.fa-star
						i.fas.fa-star
						i.fas.fa-star
						i.far.fa-star
					p Birds of Indian Subcontinent
					.card.card-primary
						.card-block
							h2.card-title Book Description 
							p The book is complied to provide details on various bird species found in the Indian subcontinent. It is a result of painstaking research and travel by the three authors Richard Grimmett, Carol Inskipp and Tim Inskipp. Together they have written details about wide range of bird species in different countries like India, Pakistan, Sri Lanka, Nepal, Bhutan, Bangladesh and the Maldives and more.It enlightens the reader about certain distinguishable features to make the identification of the birds an easy task for everyone who are keen to know more about feathered creatures. For simplicity and better understanding, the book comprises few colour maps of the Indian subcontinent along with all types of birds that are found here.There are lists on the information of nearly 1,300 species of birds. Some of the birds mentioned in are Otus thilohoffmanni, S. whistleri and Seicercus burkii. To distinguish among numerous bird classes, total 214 colour plates are used. These colour plates are arranged in a systematic manner to face the associated maps and texts.Furthermore, detailed tables with distinguishing bird characteristics are also provided to help identify some difficult to spot birds such as rose finch, warbler, nightjar etc. Offering a fun and interactive way to enlighten readers about different kinds of birds, the book is indeed a delight to read.
					.card.card-primary
						.card-block
							h2.card-title Genres
							span.badge.bg-warning
								i.fa.fa-check
								| &nbsp;Field Guide
							| &nbsp;
							span.badge.bg-warning
								i.fa.fa-check
								| &nbsp;Nature
							| &nbsp;
							span.badge.bg-warning
								i.fa.fa-check
								| &nbsp;Adventure
							| &nbsp;
				.col-12.col-md-6.location-map
					.card.card-primary
						.card-block
							h2.card-title Birds of indian sub continent
							iframe(width='350', height='500', src='https://m.media-amazon.com/images/I/51TcMh9gCXL._SX316_BO1,204,203,200_.jpg')
	.row
				.col-12
					.card.card-primary.review-card
						.card-block
							a.btn.btn-primary.float-end(href='/location/review/new') ADD REVIEW
							h2.card-title Customer reviews
							.row.review
								.col-12.no-gutters.review-header
									span.rating
										i.fas.fa-star
										i.fas.fa-star
										i.fas.fa-star
										i.far.fa-star
										i.far.fa-star
									span.reviewAuthor Akash Baskar S
									small.reviewTimestamp  1 july 2023
								.col-12
									p “It's is  the best book for birdwatching 						
								.col-12.no-gutters.review-header
									span.rating
										i.fas.fa-star
										i.fas.fa-star
										i.fas.fa-star
										i.far.fa-star
										i.far.fa-star
									span.reviewAuthor Darshan BY
									small.reviewTimestamp   14 july 2023
								.col-12
									p It is a great book
	.col-12.col-lg-5
	p.lead
			| 