extends layout
block content
	.row.banner
		.col-12
			h1 lord of the rings part 1
	.row
		.col-12.col-lg-9
			.row
				.col-12.col-md-6
					p.rating
						i.fas.fa-star
						i.fas.fa-star
						i.fas.fa-star
						i.fas.fa-star
						i.far.fa-star
					p The Two Towers 
					.card.card-primary
						.card-block
							h2.card-title Book Description 
							p Begin your journey into Middle-earth.	The Lord of the Rings is composed of six "books", aside from an introduction, a prologue and six appendices. However, the novel was originally published as three separate volumes, due to post-World War II paper shortages and size and price considerations.[2] The Two Towers covers Books Three and Four.Tolkienwrote: "The Two Towers gets as near as possible to finding a title to cover the widely divergent Books Three and Four; and can be left ambiguous."[3] At this stage he planned to title the individual books. The proposed title for Book Three was The Treason of Isengard. Book Four was titled The Journey of the Ringbearers or The Ring Goes East. The titles The Treason of Isengard and The Ring Goes East were used in the Millennium edition. In other editions the Books are often untitled.In letters to Rayner Unwin, Tolkien considered naming the two as Orthanc and Barad-dûr, Minas Tirith and Barad-dûr, or Orthanc and the Tower of Cirith Ungol.[3][4] However, a month later, he wrote a note published at the end of The Fellowship of the Ring, and later drew a cover illustration, both of which identified the pair as Minas Morgul and Orthanc.[5][6] In the illustration, Orthanc is shown as a black tower, three-horned, with the sign of the White Hand beside it; Minas Morgul is a white tower, with a thin waning moon above it, in reference to its original name, Minas Ithil, the Tower of the Rising Moon. Between the two towers a Nazgûl flies.
					.card.card-primary
						.card-block
							h2.card-title Genres
							span.badge.bg-warning
								i.fa.fa-check
								| &nbsp;Fantasy
							| &nbsp;
							span.badge.bg-warning
								i.fa.fa-check
								| &nbsp;Fiction
							| &nbsp;
							span.badge.bg-warning
								i.fa.fa-check
								| &nbsp;Adventure
							| &nbsp;
				.col-12.col-md-6.location-map
					.card.card-primary
						.card-block
							h2.card-title lord of the rings part 1
							iframe(width='350', height='500', src='https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1654215925i/61215351.jpg')
	.row
				.col-12
					.card.card-primary.review-card
						.card-block
							a.btn.btn-primary.float-end(href='/location/review/new') ADD REVIEW
							h2.card-title Customer reviews
							.row.review
								.col-12.no-gutters.review-header
									span.rating
										i.fas.fa-star
										i.fas.fa-star
										i.fas.fa-star
										i.far.fa-star
										i.far.fa-star
									span.reviewAuthor Akash Baskar S
									small.reviewTimestamp  1 july 2023
								.col-12
									p “It's like in the great stories, 						
								.col-12.no-gutters.review-header
									span.rating
										i.fas.fa-star
										i.fas.fa-star
										i.fas.fa-star
										i.far.fa-star
										i.far.fa-star
									span.reviewAuthor Darshan BY
									small.reviewTimestamp   14 july 2023
								.col-12
									p It is a great book
	.col-12.col-lg-5
	p.lead
			| 